<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bot.css">
    <title>Weather App</title>
</head>
<body>
    <!-- <iframe
    style="border: none; height : 600px ; width: 100%;"
   
    src="https://widget.kommunicate.io/chat?appId=3cf44f177aa4fdb1bb871013d55af632e"
    allow="microphone; geolocation;"
>
</iframe> -->

<iframe
style="border: none; height : 600px ; width: 100%;"
allow="microphone;"
width="350"
height="430"
src="https://console.dialogflow.com/api-client/demo/embedded/d89ebea8-7944-4d62-98b4-7f31b67d9b35">
</iframe>
    
</body>
</html>