<!doctype HTML>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="stylesheet" href="templates\styles.css" /> -->
    <link rel="stylesheet" type="text/css" href="static\styles.css">

	</head>
	<body>
		
         <header>
            
          <ul class="navbar">
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item"><a href="#">Features</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
  </ul>
          
          </header>

          <div id = "container"> 

                 <div id = "intro">
                 <h1 id = "title"> Introducing Farm Assist </h1>
                <h2 id  = "subtitle"> The agriculture chatbot powered by Dialogflow is a virtual assistant that uses AI to answer farmers' queries on various agricultural topics. It provides real-time information and advice on crop cultivation, pest control, soil health, and more. Empowering farmers with accurate and timely insights, it enhances agricultural practices and productivity. </h2>
                <button onclick = "window.location.href = '/bot' " id = "trybtn"> <b> Try AgriGPT </b> </button>
                 </div>
          </div> 

          <div id = "info">
               <h1 id = "what"> What is Farm Assist?</h1>

               <h2 id = "answer">   Our agritech web app features an AI chatbot that provides farmers with weather forecast information. By accessing real-time data and insights, farmers can make more informed decisions about when to plant, harvest, and manage their crops. Our easy-to-use application is designed to improve yields and help farmers succeed.  </h2>
          </div>

         

          <div id = "con"> 
            <div class = "ftr">  
              <h2>   Weather forecast</h2> 
              <h3> To help with real-time updates on weather conditions in their area, ensuring that they have the most up-to-date information available.</h3>
              <button onclick = "window.location.href = '/weather'" class = "featurebtn"> Get started </button>
              
             
              <!-- <ul class = "pft"> 
                  <li> Daily weather updates </li>
                  <li> Alert and notifications</li>
                  <li>  weather forecast </li>
              </ul> -->
            </div>
            <div class = "ftr"> 
              <h2>  Fertilizer  calculator  </h2> 
              <h3> Fertilizer amount calculator to  determine the optimal amount of fertilizer needed for their fields.</h3>
              <button onclick = "window.location.href = '/fcalculator'" class = "featurebtn"> Get started </button>
              
            </div>
            <div class = "ftr"> <h2>Fertilizer predictor </h2> 
              <h3> Fertilizer predictor is a tool designed to estimate and suggest the type of fertilizer to be applied to crops or plants. </h3>
              <button  onclick = "window.location.href = '/fpredictor'" class = "featurebtn"> Get started </button>
              

             </div>

           </div>
            
          
       

           <!-- <script src="scriptweather.js"></script> -->

	</body>
</html>
