<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\weather.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-https://fontawesome.com/" crossorigin="anonymous" />

</head>
<body>
    <!-- <div id = "weatherbackground" >  </div>
     <h1> Hyderabad </h1> -->
     <div class="container">
        <img id = "weatherbackground" src = "static\Weather-Images\wp3102516.webp" >
        <div class="content">
          <!-- Content goes here -->
          <h3 id = "placename"> Weather forecast </h3> 
        </div>
      </div>
    <!-- <img id = "weatherbackground" src = "wp3102516.webp" > -->
    <div class="grid-container">
        <div class="grid-item">  
            <h3> MON </h3> 
            <img src="static\Weather-Images\sun.png" alt="weather icon" class="w-icon">
            <h4> 10 </h4>
         </div>
        <div class="grid-item"><h3> MON </h3> 
            <img src="static\Weather-Images\sun.png" alt="weather icon" class="w-icon">            <h4> 10 </h4></div>
        <div class="grid-item"><h3> MON </h3> 
            <img src="static\Weather-Images\sun.png" alt="weather icon" class="w-icon">            <h4> 10 </h4>
        </div>
        <div class="grid-item"><h3> MON </h3> 
            <img src="static\Weather-Images\sun.png" alt="weather icon" class="w-icon">            <h4> 10 </h4>
        </div>
        <div class="grid-item"><h3> MON </h3> 
            <img src="static\Weather-Images\sun.png" alt="weather icon" class="w-icon">            <h4> 10 </h4>
        </div>
        <!-- <div class="grid-item"><h3> MON </h3> 
            <img src="sun.png" alt="weather icon" class="w-icon">            <h4> 10 </h4>
        </div>
        <div class="grid-item"><h3> MON </h3> 
            <img src="sun.png" alt="weather icon" class="w-icon">            <h4> 10 </h4></div> -->
      </div>
      <script src = "static\weather.js"> </script>

   
    

    
</body>
</html>